In [ ]:
dict = [
    {"name":"홍길동", "data":"2020.02.17", 
     "product":[{"품목":"사과", "price":300, "수량":4}]
    },
    
    {"name":"이순신", "data":"2020.02.17", 
     "product":[{"품목":"사과", "price":300, "수량":4}]
    }
]

1. cd\AI\Web\Mysite로 디렉토리 이동하고 py36가상환경 돌린다음


2. python manage.py runserver 입력해서 서버 돌리고 


3. 12.0.0.1:8000/admin으로 가면 관리자 계정으로 로그인할 건지 창이 뜸


4.  새로운 콘솔창을 하나 더 띄운 상태에서 py36가상환경으로 들어가서


5.  python manage.py createsuperuser을 실행
    - username : home
    - password : abcd1234   로 설정하자
    
    
6. 다시 127.0.0.1:8000/admin으로 가서 위의 아이디, 패스워드로 로그인하고


7. users를 누르고 오른쪽 상단에 add users를 눌러서 이순신 추가
    - pwd는 12home12로 했음


8. https://sqlitebrowser.org/dl/에 가서 download로 간다음 자신의 컴퓨터 설정에 맞는 비트 수에 맞게 (DB Browser for SQLite - .zip (no installer) for 64-bit Windows) 다운로드 한다.


9. 압축을 풀고 C:\Users\student\Downloads\DB.Browser.for.SQLite-3.11.2-win64\DB Browser for SQLite로 디렉토리 이동한다음 DB Browser for SQLite.exe파일을 실행시키고 **데이터베이스 열기**한다음 AI\Web\Mysite에 있는 db.sqlite3을 선택해서 실행하기


10. DB browser 파일을 실행시키고 프로그램의 <ins>데이터 보기</ins> 탭에서 이순신 레코드의 leess@gamil.com을 입력하고 상단의 변경사항 저장하기 클릭하면 1270.0.1:8000/admin 페이지에서 수정되었음을 확인할 수 있음

11. DB browser 프로그램에서 SQL실행 누르고 하단의 내용을 기입
    - 한 번 만들어진 테이블은 수정 불가
    - (지우고 다시 만들던가, 아니면 field를 수정하던가 해야함)

In [ ]:
CREATE TABLE userTBL -- 회원 테이블 
( userID CHAR(8) NOT NULL PRIMARY KEY, -- 사용자 아이디(PK) 
  userName VARCHAR(10) NOT NULL, -- 이름 
  birthYear INT NOT NULL, -- 출생 연도 
  addr CHAR(2) NOT NULL, -- 지역(경기, 서울, 경남 식으로 2글자만 입력) 
  mobile1 CHAR(3), -- 휴대폰의 국번(011, 016, 017, 018, 019, 010 등) 
  mobile2 CHAR(8), -- 휴대폰의 나머지 번호(하이픈 제외) 
  height SMALLINT, -- 키 
  mDate DATE -- 회원 가입일
);
CREATE TABLE buyTBL -- 구매 테이블 
( num INT AUTO_INCREMENT NOT NULL PRIMARY KEY, -- 순번(PK) 
  userID CHAR(8) NOT NULL, -- 아이디(FK) 
  prodName CHAR(6) NOT NULL, -- 물품 
  groupName CHAR(4), -- 분류 
  price INT NOT NULL, -- 단가 
  amount SMALLINT NOT NULL, -- 수량 
  FOREIGN KEY (userID) REFERENCES userTBL (userID)
);

12. 재생버튼을 눌러서 실행시키고 **데이터 보기** 탭에서 테이블을 userTBL로 맞춰놓고 다음처럼 입력한다.
     - userID : KHD
     - userName : 강호동
     - birthYear : 1970
     - addr : 경북
     - mobile1 : 011
     - mobile2 :22222222
     - height : 182
     - mDate : 2007-7-7

13. 다시 <ins>SQL 실행</ins> 탭에서 **INSERT INTO buyTBL VALUES (NULL, 'fef', '운동화', NULL, 30, 2);**을 입력하고 실행시켜보면 오류난다.
    - 왜냐하면 우린 12에서 'KHD'만 정의했는데 'fef'라는 userID를 입력했기 때문이다.
    - 여기서 처음의 NULL은 신경쓰지말자. 다른 문법으로 저장된 것을 SQLite3로 불러오려고 하는 과정인데 문법이 달라서 SQLite에 없는 것이기 때문에??
    
    
14. <ins>SQL 실행</ins> 탭에서 다음과 같이 입력하고 실행하자

In [ ]:
INSERT INTO userTBL VALUES ('KKJ', '김국진', 1965, '서울', '019', '33333333', 171, '2009-9-9');
INSERT INTO userTBL VALUES ('KYM', '김용만', 1967, '서울', '010', '44444444', 177, '2015-5-5');
INSERT INTO userTBL VALUES ('KJD', '김제동', 1974, '경남', NULL , NULL, 173, '2013-3-3');
INSERT INTO userTBL VALUES ('NHS', '남희석', 1971, '충남', '016', '66666666', 180, '2017-4-4');
INSERT INTO userTBL VALUES ('SDY', '신동엽', 1971, '경기', NULL, NULL, 176, '2008-10-10');
INSERT INTO userTBL VALUES ('LHJ', '이휘재', 1972, '경기', '011', '88888888', 180, '2006-4-4');
INSERT INTO userTBL VALUES ('LKK', '이경규', 1960, '경남', '018', '99999999', 170, '2004-12-12');
INSERT INTO userTBL VALUES ('PSH', '박수홍', 1970, '서울', '010', '00000000', 183, '2012-5-5');
INSERT INTO buyTBL VALUES (1, 'KHD', '운동화', NULL, 30, 2);
INSERT INTO buyTBL VALUES (2, 'KHD', '노트북', '전자', 1000, 1);
INSERT INTO buyTBL VALUES (3, 'KYM', '모니터', '전자', 200, 1);
INSERT INTO buyTBL VALUES (4, 'PSH', '모니터', '전자', 200, 5);
INSERT INTO buyTBL VALUES (5, 'KHD', '청바지', '의류', 50, 3);
INSERT INTO buyTBL VALUES (6, 'PSH', '메모리', '전자', 80, 10);
INSERT INTO buyTBL VALUES (7, 'KJD', '책', '서적', 15, 5);
INSERT INTO buyTBL VALUES (8, 'LHJ', '책', '서적', 15, 2);
INSERT INTO buyTBL VALUES (9, 'LHJ', '청바지', '의류', 50, 1);
INSERT INTO buyTBL VALUES (10, 'PSH', '운동화', NULL, 30, 2);
INSERT INTO buyTBL VALUES (11, 'LHJ', '책', '서적', 15, 1);
INSERT INTO buyTBL VALUES (12, 'PSH', '운동화', NULL, 30, 2);

15. 유저별로 각자의 지출할 돈 계산하기

SELECT userid, sum(price*amount)
from buyTBL
group by userid

---

**drop TABLE 테이블명**
> 테이블 지우기임

---

### JOIN

16. **SELECT * from userTBL, buyTBL**을 SQL실행하면 두 테이블을 연결함
    - 하지만 필요없는 정보도 있음(Why? <ins>userTBL에서 강호동과 buyTBL에서의 KYM등이 결합되어 있는 것도 결과로 나와있기 때문</ins>)
    
    
17. 각자 유저들이 구매한 내역을 보고 싶다면 아래 셀과 같이 SQL실행을 해야한다.

In [ ]:
SELECT * from userTBL, buyTBL
WHERE userTBL.userID = buyTBL.userID

18. 각 유저마다 총 몇개나 구입했고 총 얼마를 지불해야하는지 알기 위해서 다음 셀과 같이 입력하여 SQL실행한다.

    - 여기서, userid는 userTBL에도 있고 buyTBL에도 있기 때문에 <ins>**꼭 소속을 밝혀주기 위해서**</ins> userTBL.userid 혹은 buyTBL.userid이라고 명시해줘야 한다.

In [ ]:
SELECT userTBL.userid, username, sum(amount), sum(amount*price)
from userTBL, buyTBL
WHERE userTBL.userid=buyTBL.userID
group by userTBL.userid, username

<img src=1.png?11 width=500>

19. 여기서 sum(amount*price)같은 걸로 ordering하고 싶을 때 컬럼명을 정하고 싶다면 as를 이용해서 다음과 같이 나타내거나 as를 생략해도 됀다.
    - sum(amount*price) as total
    - sum(amount*price) toal

<img src=2.png width=500>

20. 다음의 셀은 

    1) addr, sum(amount), sum(amount*price) as total, count(*) 등을 포함하는 정보를 표시하고(첫번째 줄)
    
    2) u.user = b.userid는 각 테이블의 유저들을 일치시켜줘서 의미있는 정보를 추출하는 것
    
    3) 지역으로 묶었었을때(group by addr)
    
    4) 지역의 total값이 170보다 크고 
    
    5) total을 기준으로 정렬해놓은 것이다(Oder by total)

In [ ]:
SELECT addr, sum(amount), sum(amount*price) as total, count(*)
from userTBL u, buyTBL b 
WHERE u.userid=b.userID
group by addr
having total > 170
Order by total

---

## ORM(Object Relation Mapping)

<img src=3.png width=500>

### 테이블 생성

- 관리자 및 user생성
    - python manage.py createsuperuser

- install app 설정(mysite/settings.py)
    - INSTALLED_APPS = ['polls,apps.PollsConfig ' , ... #앱명.apps.앱명Config
    
- db관련 설정은 app 별로 설정


- Model 클래스 생성
     - class Post(models.Model)

- admin.py 수정
    - from django.contribimport admin
    - from .models import Post
    - admin.site.register(Post)
    
- DB변경사항반영
    - python manage.py makemigrationsmyapp     # 이건 변경사항 확인만 하라는거
    - python manage.py migrate            # 이게 반영하는 것!

21. web>mysite>mysite>settings.py에서 INSTALLED_APPS에 'myapp'을 추가한다.


22. web>mysite>myapp>apps.py에서 다음의 클래스가 정의되어 있는지 확인한다.

In [ ]:
class MyappConfig(AppConfig):
    name = 'myapp'

23. web>mysite>myapp>models.py에서 다음 셀의 내용을 기입한다.

In [ ]:
from django.db import models
from django.utils import timezone

class User(models.Model):
    userid = models.CharField(max_length=10, primary_key=True)
    name = models.CharField(max_length=10)
    age = models.IntegerField()
    hobby = models.CharField(max_length=20)

    def __str__(self):
        #return self.userid + '/' + self.name + '/' + self.age
        return f"{self.userid} + '/' + {self.name} + '/' + {self.age}"

23. web>mysite>myapp>admin.py에서 다음 셀의 내용을 기입한다.(사실 테이블 하나 만들때마다 만들어야함)

In [ ]:
from django.contrib import admin
from myapp.models import User #, Post, Question, Choice, Order, Product

# Register your models here.
admin.site.register(User)

24. DB브라우저를 끄고 나서 새로운 콘솔창을 열어서 
    - **python manage.py makemigrations myapp**를 실행시키면 변경사항을 <ins>확인만</ins> 할 수 있다.
    - **python manage.py migrate**을 실행시키면 변경사항을 <ins>반영</ins>한다.
    
   
25. 크롬 브라우저에서 127.0.0.1:8000/admin 페이지에 가서 보면 MYAPP이란 것이 새로 생겼고 Users에서 **add user**를 눌러서 아래와 같이 기입해보자
    - userid : kim
    - Name : 김유신
    - age : 24
    - Hobby : Napping

26. 새로운 콘솔창에서 cd\AI\Web\mysite로 디렉토리 이동 후, python manage.py shell을 입력하면 녹색 글씨가 뜨는데 다음의 사항을 차례로 한 줄씩 입력하면서 결과를 확인하자
    - from myapp.models import User
    - datas = User.objects.all()
    - print(datas)
    - for d in datas : print(d)
    - for d in datas : print(d.age)
    - u = User(userid='lee', name = "임꺽정", age=40, hobby = "봉사")
    - u.save()   # 업데이트 하는 것임
    - datas = User.objects.all()
    - print(datas)

27. 26에 계속해서 다음 사항을 입력하면 임꺽정에 대한 내용이 바뀐다.
    - u.name = "임꺽정3"
    - u.age = 30
    - u.save()


28. 다음을 입력하면 user가 지워진다.
    - u.delete()
    - output은 지워진 객체를 의미한다.
    
    
29. 28처럼 지우고 나서 print(datas)를 실행하면 실제로 지워졌음을 알 수 있다. 이제 quit을 입력하고 실행하면 다시 콘솔창이 원래대로 돌아온다.

---

30. django를 2.0 으로 다운그레이드 시켜야 해서 콘솔창에서 py36 가상환경에서 pip install django==2.0 을 실행시킨다.

31. 다음을 순서대로 하자
    - mysite>mysite>settings.py에서 INSTALLED_APPS에서 'django_extensions'를 추가하고 
    - 콘솔창에서 pip install django-extensions을 실행시켜 설치하고
    - **python manage.py shell_plus --notebook** 실행시키면 장고랑 주피터 노트북을 연결해서 쓸수 있음
    
    
32. 주피터창이 뜨면 `New`탭에서 Django Shell-Plus를 눌러서 해야 함(그냥 Python3하면 안됌!!!!!)

- Model Manager
    - .objects
    - 데이터베이스 질의 인터페이스를 제공
    - 디폴트 Manager로서 모델클래스.objects 가 제공된다.
    - Model Manager를 통해 해당 모델클래스의 DB 데이터를 추가, 조회, 수정, 삭제(CRUD)가가능하다.

- QuerySet
    - SQL을 생성해주는 인터페이스
    - .objects.all()
    - objects.create() :
    - Chaining을 지원
    - connection 모듈을 통해 queryset으로 만들어진 실제sql문을 shell에서 확인
    - .objects.filter(title__icontains='1').filter(title__endswith='3')

NameError: name 'ModelCls' is not defined

In [ ]:
from myapp.models import User

In [ ]:
data = User.objects.all()

In [ ]:
print(data)
print('\n')
print(data[0])

In [ ]:
for d in data:
    if d.age>60 : print(d)

In [ ]:
# 나이가 24 이상인 사람들 다 뽑아오기(query식 문장)
print(data.filter(age__gte=24))

In [ ]:
# 이름이 김유신이고 나이가 24 이상인 사람들 다 뽑아오기
print(data.filter(name = '김유신', age__gte=24))

#print(data.filter(name='김유신').filter(age_gte=24)) 위에꺼랑 같은 코드

In [ ]:
# 이름에 '김'을 포함하는 데이터들 다 가져오기
data.filter(name__contains = '김')

In [ ]:
# 이름에 '김'을 포함하돼, 대소문자 구분은 무시한다.(i는 ignore의 약자)
data.filter(name__icontains = '김')

In [ ]:
from django.db.models import Q

# 여기서 Q문 사이의 |는 or를 의미한다.
data.filter( Q(age__gte=61) | Q( name__contains='김'))

33. mysite>myapp>views.py에서 listUser 함수를 다음 셀과 같이 추가한다.

In [ ]:
def listUser(request) :
    return render(request, 'template2.html', {"data":User.objects.all()})

34. mysite>templates폴더에서 template2.html파일을 하나 만들고 다음의 사항을 저장한다.

In [ ]:
user List <br>

{% for d in data %}
    이름 {{d.name}}   age {{d.age}} <br>

{% endfor %}

35. mysite>myapp>urls.py에서 path를 하나 더 추가한다.
    - path("listuser', views.listUser)
    

36. 새로운 콘솔창을 열어서 python manage.py runserver를 실행해서 서버를 열고 URL 127.0.0.1:8000/listuser로 이동해서 결과를 본다.


37. mysite>myapp>views.py에서 listUser함수를 다음과 같이 수정한다.

In [ ]:
def listUser(request) :
    q = request.get("q", "")
    if q == "":
        data = User.objects.all()
    else :
        data = User.objects.all().filter(name__condtains=q)

    # return render(request, 'template2.html', {"data":User.objects.all()})
    return render(request, 'template2.html', {"data":data})

38. 34번의 template2.html을 다음 셀과 같이 수정한다.

In [ ]:
user List <br>

{% for d in data %}

    이름 {{d.name}}   age {{d.age}} <br>

{% endfor %}



<form action="">
    <input type="text" name="q">
    <input type="submit" value="검색">
</form>

39. 127.0.0.1:8000/listuser 로 다시 가서 보면 입력하는 칸이 나오는데 '유신'이라고 입력하고 버튼 누르면 유신이 들어간 이름을 전부 출력해주는 것을 확인할 수 있다.

----

40. 34번의 template2.html을 다음 셀과 같이 다시 수정한다.

In [ ]:
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

user List <button id ="add">+</button> <br>

{% for d in data %}

    이름 {{d.name}}   age {{d.age}} <a href="/listuser?userid={{d.userid}}">삭제</a> <br>

{% endfor %}



<form action="">
    <input type="text" name="q">
    <input type="submit" value="검색">
</form>


<div id=layer>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="userid">
        <input type="text" name="name">
        <input type="text" name="age">
        <input type="text" name="hobby">
        <input type="submit" value="Add">
    </form>
</div>

<script>
    $("#layer").hide()
    $("#add").click( function() {
        $("#layer").toggle()
    });
</script>

In [ ]:
def listUser(request) :

    if request.method == "GET" :
        userid = request.GET.get("userid","")
        if userid != "":  # userid가 아무것도 없는 것을 삭제할 수 없으니까
            User.objects.all().get(userid=userid).delete()
            return redirect("/listuser")

        q = request.GET.get("q", "")
        data = User.objects.all()
        if q != "":
            data = data.filter(name__contains=q)
        return render(request, 'template2.html', {"data": data})
    else :
        userid = request.POST["userid"] #request.POST.get("userid")를 써도 됌!
        name = request.POST["name"]
        age = request.POST['age']
        hobby = request.POST["hobby"]


        # u = User(userid=userid, name=name, age=age, hobby=hobby).save()
        User.objects.create(userid=userid, name=name, age=age, hobby=hobby)  #이렇게 하면 굳이 윗 줄처럼 수정이 필요없다. 저절로 save가 되니까!

        return redirect("/listuser")

41. 127.0.0.1:8000/listuser 페이지에서 자유롭게 추가, 삭제 해보자